body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7fcef4;
}

.background_1 {
  background-color: #0080c6;
}

.background_2 {
  background-size: 100% auto;
  background-color: #c8e8fb;
  margin-top: 400Px;
  height: auto;
}

.background_White {
  background-color: red;
  z-index: 3;
}

.fixed {
  width: 100%;
  position: fixed;
}

.ground {
  width: 100%;
  margin-top: -360px;
  position: absolute;
}

.ground_Produkte {
  width: 100%;
  margin-top: 350px;
  position: absolute;
}

.link {
  text-decoration: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.6em;
  line-height: 1.2em;
  color: #0080c6;
}

.arrow {
  width:30px;
  height:30px;
  margin-top: -4Px;
  margin-left: -4Px;
}

.menu {
  text-decoration: none;
  padding: 0;
  margin-top: 4em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #0080c6;
}

.mehr {
  text-decoration: none;
  padding: 0;
  margin-top: 4em;
  margin-left: 0.2em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #c8e8fb;
}

a.mehr_Anchor {
  display: block;
  position: relative;
  top: -150px;
}

.Button_mehr {
  background-color: #0080c6;
  width: 60Px;
  height: 29Px;
  margin-top: -60Px;
}

.menu_impressum {
  text-decoration: none;
  padding: 0;
  margin-top: 4em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #7fcef4;
}

.impressum {
  text-decoration: none;
  padding: 0;
  margin-top: 4em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.05em;
  line-height: 1.2em;
  color: #c8e8fb;
}

.arrow_menu {
  width:20px;
  height:20px;
  margin-top: -4Px;
  margin-left: -4Px;
}

.mail {
  width:80px;
  height:80px;
  margin-top: 0Px;
  margin-left: -20Px;
}

.email {
  text-decoration: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.5em;
  line-height: 1.2em;
  color: #7fcef4;
}

.email_bottom {
  margin-top: 20Px;
  margin-left: 0Px;
  margin-bottom: 3000Px;
}

.Mehr_Duschgel {

position: absolute;
margin-top: -200Px;
}

.bus {
  width: 100%;
  margin-top: -400Px;
}

.bus_2 {
  width: 100%;
  margin-top: -600Px;
}

.elektrik {
  width: 100%;
  margin-top: -400Px;
  margin-left: 0Px;
  position: absolute;
}

.elektrik_2 {
  width: 100%;
  margin-top: -600Px;
  margin-left: 0Px;
  position: absolute;
}

.elektrik_hg {
  width: 100%;
  margin-top: -400Px;
  margin-left: 0Px;
  margin-bottom: 100Px;
  position: absolute;
}

.elektrik_hg_2 {
  width: 120%;
  margin-top: -800Px;
  margin-left: -200Px;
  position: absolute;
}

.elektrik_street {
  width: 100%;
  margin-top: -600Px;
  margin-left: 0Px;
  position: absolute;
}

.elektrik_front {
  width: 100%;
  margin-top: -1000Px;
  margin-left: 0Px;
  position: absolute;
}

.place {
  width: 90%;
  margin-top: -400Px;
  margin-left: 0Px;
  position: absolute;
}

.street_hg {
  width: 100%;
  margin-top: -900Px;
  margin-left: 0Px;
  margin-bottom: 100Px;
  position: absolute;
}

.map {
  width: 100%;
  margin-top: -100Px;
  margin-left: 0Px;
  margin-bottom: 0Px;
  position: absolute;
}

.earth {
  width: 70%;
  margin-top: -160Px;
  margin-left: 400Px;

}

.sticky {
  position: sticky;
  top:0px;
  left: 4000px;
  right: 0px;
  bottom: 0px;
  width:870px;
  height:870px;
  z-index: 1;
}

.globe {
  width: 70%;
  margin-top: -600Px;
  margin-left: 400Px;

}

.globe_2 {
  width: 70%;
  margin-top: -750Px;
  margin-left: 450Px;

}

.lkw {
  width: 100%;
  margin-top: -790Px;
}

.container_1 {
  position: relative;
  z-index: 2;
}

.container_2 {
  position: relative;
  z-index: 3;
}

.container_3 {
  position: relative;
  z-index: 4;
}

.container_4 {
  position: relative;
  margin-top: -96px;
  z-index: 3;
}

.container_5 {
  margin-top: -800px;
  margin-right: -80px;
  z-index: 1;
}

.container_6 {
  margin-top: -800px;
  margin-right: -80px;
  z-index: 1;
}

.container_Street {
  margin-top: -500px;
  margin-right: 0px;
  z-index: 2;
}

.container_Street_hg {
  margin-top: -850px;
  margin-right: 0px;
  margin-bottom: 100px;
  z-index: 2;
}

.container_Street_hg_2 {
  margin-top: -1100px;
  margin-right: 0px;
  margin-bottom: 100px;
  z-index: 2;
}

.first {
  width: 100%;
}

.one {
width: 100%;
box-sizing: border-box;
z-index: 1;
}

.two {
width: 100%;
box-sizing: border-box;
z-index: 2;
}

.three {
width: 100%;
box-sizing: border-box;
z-index: 3;
}

h1 {
/* border: 1px solid blue; */
padding: 0;
margin-top: 3em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

h2 {
/* border: 1px solid green; */
padding: 0;
margin-top: 1.2em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0.05em;
font-size: 1.4em;
color: #0080c6;
}

h3 {
/* border: 1px solid red; */
padding: 0;
margin-top: 0.08em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

h4 {
/* border: 1px solid blue; */
padding: 0;
margin-top: 3em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #7fcef4;
}

h5 {
/* border: 1px solid blue; */
padding: 0;
margin-top: 0.1em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

h6 {
/* border: 1px solid red; */
padding: 0;
margin-top: 0.08em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

.h1_Text {
/* border: 1px solid blue; */
padding: 0;
margin-top: 3em;
margin-bottom: 15em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h1_Start {
/* border: 1px solid blue; */
padding: 0;
margin-top: -11em;
margin-bottom: 12em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h2_Start {
/* border: 1px solid green; */
padding: 0;
margin-top: -14.5em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0.05em;
font-size: 1.4em;
color: #0080c6;
}

.h3_Start {
/* border: 1px solid red; */
padding: 0;
margin-top: -1.15em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

.h1_Standort {
/* border: 1px solid blue; */
padding: 0;
margin-top: -7em;
margin-bottom: 12em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h2_Standort {
/* border: 1px solid blue; */
padding: 0;
margin-top: -10.5em;
margin-bottom: 12em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h3_Standort {
/* border: 1px solid red; */
padding: 0;
margin-top: -1.9em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

.h1_earth {
/* border: 1px solid blue; */
padding: 0;
margin-top: 26em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h2_earth {
/* border: 1px solid blue; */
padding: 0;
margin-top: 2em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h3_earth {
/* border: 1px solid red; */
padding: 0;
margin-top: 0.2em;
margin-bottom: 6em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

.h1_Schulweg {
/* border: 1px solid blue; */
padding: 0;
margin-top: -20em;
margin-bottom: 12em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h2_Schulweg {
/* border: 1px solid blue; */
padding: 0;
margin-top: -11em;
margin-bottom: 12em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0em;
font-size: 1.8em;
line-height: 1.2em;
color: #0080c6;
}

.h3_Schulweg {
/* border: 1px solid red; */
padding: 0;
margin-top: -2em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 800;
letter-spacing: 0em;
font-size: 10em;
line-height: 0.8em;
color: #0080c6;
}

.mehr_Produkt {
/* border: 1px solid green; */
padding: 0;
margin-top: 1.2em;
margin-bottom: 0em;
font-family: 'Barlow', sans-serif;
font-weight: 600;
letter-spacing: 0.05em;
font-size: 1.4em;
color: #0080c6;
}

.background_bottom {
  height: 60Px;
}



.offsetTop{
    margin-top: 100px;
}
img{
    width:100%;
}
/* ------- Default Stil */
section img{
    opacity:1;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
}

#section-2 img.first{
    transform: translate(3000px,0);
    transition: 3s;
}

#section-3 img.first{
    transform: translate(3000px,0);
    transition: 6s;
}

#section-4 img.first{
    transform: translate(3000px,0);
    transition: 5s;
}

#section-5 img.first{
    transform: translate(3000px,0);
    transition: 0s;
}

#section-6 img.first{
    transform: translate(3000px,0);
    transition: 20s;
}

#section-7 img.first{
    transform: translate(9000px,0);
    transition: 6s;
}

#section-8 img.first{
    transform: translate(3000px,0);
    transition: 6s;
}


#section-place-1 img.first{
    transform: translate(-20Px,-2000Px);
    transition: 3s;
    opacity:0;
}

#section-place-2 img.first{
    transform: translate(-90Px,-2000Px);
    transition: 3s;
    opacity:0;
}

#section-place-3 img.first{
    transform: translate(-160Px,-2000Px);
    transition: 3s;
    opacity:0;
}

#section-place-4 img.first{
    transform: translate(-20Px,-2000Px);
    transition: 3s;
    opacity:0;
}

#section-place-5 img.first{
    transform: translate(160Px,-2000Px);
    transition: 3s;
    opacity:0;
}

#section-map img.first{
    transform: translate(3000px,0);
    transition: 6s;
}



/* ------- Falls onScreen neuer Zustand Stil, hier kann irgendetwas verändert werden

 */
section.onScreen img{
    opacity:1;
}

#section-2.onScreen img.first{
    transform: translate(0px,0);
    transition: 0s;
}

#section-3.onScreen img.first{
    transform: translate(0px,0);
    transition: 3s;
}

#section-4.onScreen img.first{
    transform: translate(0px,0);
    transition: 0s;
}

#section-5.onScreen img.first{
    transform: translate(-3000px,0);
    transition: 12s;
}

#section-6.onScreen img.first{
    transform: translate(-3000px,0);
    transition: 12s;
}

#section-7.onScreen img.first{
    transform: translate(0px,0);
    transition: 3s;
}

#section-8.onScreen img.first{
    transform: translate(-3000px,0);
    transition: 12s;
}

#section-place-1.onScreen img.first{
    transform: translate(-20Px,160Px);
    transition: 1s;
    opacity:1;
}

#section-place-2.onScreen img.first{
    transform: translate(-90Px,240Px);
    transition: 0.8s;
    opacity:1;
}

#section-place-3.onScreen img.first{
    transform: translate(-160Px,320Px);
    transition: 0.8s;
    opacity:1;
}

#section-place-4.onScreen img.first{
    transform: translate(-20Px,300Px);
    transition: 1s;
    opacity:1;
}

#section-place-5.onScreen img.first{
    transform: translate(160Px,200Px);
    transition: 1s;
    opacity:1;
}

#section-map.onScreen img.first{
    transform: translate(0px,0);
    transition: 0.8s;
}


/* Slider_Wolfgang_Button */


input.set {
	display:none;
}

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-380px; }
#slide3:checked ~ .mask .overflow { margin-left:-760px; }

#slides {
	margin-top:50px;
	width:500px;
	position:relative;
	background-color: none;
}

#slides .mask {
	width:380px;
	overflow:hidden;
	margin:auto;
}

#slides .overflow {
	width:300%;
	-webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

#slides .slide {
	width: 380px;
	height:570px;
	float:left;
	background: none;
}

#controls label {
  color: green;
	display:none;
	width:60px;
	height:60px;
	opacity:1;
	position:absolute;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
  background-image: url(assets/img/Product_World_Arrow.svg);
}

#controls label:hover {
	opacity:1;
}

#globe img{
  opacity: 0;
}

#globe.arrived img{
  opacity: 1;
}


#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(0) { right:0; display:block; transform: rotate(180deg);}

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2) { left:0; display:block; }
